:root {
  /* Colours */
  --primary-bg-color: #e8ebee; /* used */
  --primary-font-color: #474d52; /* used */

  --secondary-bg-color: #5d656c; /* used */
  --secondary-font-color: #d5e5f4; /* used */

  /* CAN BE DELETED WHEN THE PLACEHOLDER CLASS IS DELETED */
  --placeholder-bg-color: #eb9e1a; /* used */
  --placeholder-font-color: #575c61; /* used */

  /* NOT USED AT THE MOMENT */
  --info-color: #17a2b8;
  --warning-color: #ffc107;
  --danger-color: #dc3545;

  /* Borders */
  --border-color: #007bff; /* used */
  --border-color-light: #f7f5c2; /* used */
  --border-radius: 0.25rem;

  /* Links */
  --link-color: #84888e; /* used */
  --hover-color: #f9fcfe; /* used */
  --active-color: #f52727; /* used */

  /* From styletile */

  /* Fonts */
  --logotype-font: "Roboto", sans-serif;
  --headline-font: "Roboto", sans-serif;
  --body-font: "Roboto", sans-serif;
  --link-font: "Calibri", sans-serif;

  /* Text sizes */
  --logotype-size: 48px;
  --headline1-size: 48px;
  --headline2-size: 36px;
  --headline3-size: 32px;
  --bodytext-size: 20px;
  --cta-text-size: 20px;
  --followup-text-size: 20px;
  --form-submit-size: 16px;

  /* Text colors */
  --logotype-color: #fffae2;
  --headline-color: #ffffff;
  --headline-color-inverted: #ffffff;
  --bodytext-color: #ff00ee;
  --bodytext-color-inverted: #f700ff;
  --cta-text-color: #fffae2;
  --cta-text-color-inverted: #000000;
  --followup-text-color: #000000;
  --followup-text-color-inverted: #fcfeff;
  --formfield-text-color: #000000;
  --form-submit-color: #fffae2;
  --form-submit-color-inverted: #000000;

  /* Background colors */
  --logotype-background-color: #000000;
  --header-background-color: #6f90eb;
  --article-background-color: #fffae2;
  --main-disclamer-background-color: #ff4b00;
  --daily-background-color: #ffffff;
  --news-background-color: #ff00cc;
  --news-background-color-inverted: #dbe2f5;
  --info-background-color: #dbe2f5;
  --h-cta-text-bg-color: #FFFAE2;
  --headline-bg-color: #ff0095;
  --headline-bg-color-alert: #ff4b00;
  --headline-bg-color-inverted: #000000;
  --bodytext-bg-color: #ff00e6;
  --bodytext-bg-color-inverted: #fb00ff;
  --cta-text-bg-color: #ff00ee;
  --cta-text-bg-color-inverted: #ff00bf;
  --followup-text-bg-color: #ffa680;
  --followup-text-bg-color-inverted: #ff00f7;
  --form-background-color: #ff00fb;
  --form-text-color: #000000;
  --formfield-background-color: #ff00e6;
  --formfield-background-color-active: #ff00cc;
  --form-submit-bg-color: #ff4b00;
  --form-submit-bg-color-inverted: #ff00d9;
  --primary-bg-color: #fceb94;

  /* Info-boxes */
  --info-bg-color-yellow: #fceb94;
  --info-bg-color-green: #def5db;
}
