:root {
    /* Colours */
    --primary-bg-color: #e8ebee; /* used */
  
    --secondary-bg-color: #5d656c; /* used */
    --secondary-font-color: #d5e5f4; /* used */
  
    /* CAN BE DELETED WHEN THE PLACEHOLDER CLASS IS DELETED */
    --placeholder-bg-color: #eb9e1a; /* used */
    --placeholder-font-color: #575c61; /* used */
  
    /* NOT USED AT THE MOMENT */
    --info-color: #17a2b8;
    --warning-color: #ffc107;
    --danger-color: #dc3545;
  
    /* Borders */
    --border-color: #007bff; /* used */
    --border-color-light: #f7f5c2; /* used */
    --border-radius: 37px;
  
    /* Links */
    --link-color: #84888e; /* used */
    --hover-color: #f9fcfe; /* used */
    --active-color: #000000; /* used */
  
    /* From styletile */
  
    /* Fonts */
    --logotype-font: "rubik_b";
    --headline-font: "rubik_b";
    --body-font: "rubik_r";
    --link-font: "rubik_l";
  
    /* Text sizes */
    --logotype-size: 48px;
    --headline1-size: 48px;
    --headline2-size: 36px;
    --headline3-size: 32px; /*h3 reagerer ikke på text størrelse skift?!*/
    --bodytext-size: 20px;
    --cta-text-size: 20px;
    --followup-text-size: 48px;
    --form-submit-size: 16px;
  
    /* Text colors */
    --logotype-color: #000000;
    --headline-color: #000000;
    --headline-color-inverted: #000000;
    --bodytext-color: #F72682;
   /*  --bodytext-color-inverted: #ff0000; */
    --cta-text-color: #000000;
    --cta-text-color-inverted: #000000;
    --followup-text-color: #000000;
    --followup-text-color-inverted: #000000;
    --formfield-text-color: #ffffff;
    --form-submit-color: #000000;
    --form-submit-color-inverted: #ffffff;
  
    /* Background colors */
    --logotype-background-color: #000000;
    --header-background-color: #FBAFCB;
    --article-background-color: #cbf4fc;
    --main-disclamer-background-color: #F72682;
    --daily-background-color: #559b78;
   /*  --news-background-color: #ff0000; */
    --news-background-color-inverted: #FBAFCB;
    --info-background-color: #6f737e;
    --h-cta-text-bg-color: #F72682;
    /* --headline-bg-color: #ff0000; */
    --headline-bg-color-alert: #F72682;
    --headline-bg-color-inverted: #484848;
    /* --bodytext-bg-color: #ff0000;
    --bodytext-bg-color-inverted: #ff0000;
    --cta-text-bg-color-inverted: #ff0000; */
    --followup-text-bg-color: #F72682; /*CTA baggrund*/
    /* --followup-text-bg-color-inverted: #ff0000; */
    --form-background-color: #F72682;
    --form-text-color: #000000;
   /*  --formfield-background-color: #ff0000;
    --formfield-background-color-active: #ff0000;
    --form-submit-bg-color: #ff0000;
    --form-submit-bg-color-inverted: #ff0000; */
    --primary-bg-color: #463557;
  
    /* Info-boxes */
    --info-bg-color-yellow: #4b5b5e;
    --info-bg-color-green: #524b5c;
  }
  .switch {
    position: relative;
    display: inline-block;
    width: 52px;
    height: 28px;
  }
  .switch input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var( --main-disclamer-background-color);
    border-radius: 34px;
  }
  .slider::before {
    position: absolute;
    content: "";
    height: 22px;
    width: 22px;
    left: 4px;
    bottom: 3px;
    background-color: var(--header-background-color);
    border-radius: 50%;
    transition: 0.4s;
  }
  input:checked + .slider::before {
    translate: 100% 0;
  }